.error-header{
	font-size: 1.5em;
	color: red;
	background-color: #FFF0F0;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.error-name{
	font-weight: bold;
	color: red;
	margin-right: 10px;	
}

.errors-container{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFF0F0;
	padding-left: 10px;
}
